{% extends 'base.html' %}
{% block header %}
<h1>Students list</h1>
{% endblock %}


{% block content %}

    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">First name</span>
            </div>
      <input name="first_name" type="text" class="form-control" placeholder="Enter first name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
  <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Last name</span>
      </div>
        <input name="last_name" type="text" class="form-control" placeholder="Enter last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>


        <div class="input-group mb-3">
  <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Rating</span>
      </div>
        <input name="rating" type="text" class="form-control" placeholder="Enter rating" aria-label="Username" aria-describedby="basic-addon1">
        </div>


        <div class="mb-3">
      <input  class="btn btn-warning" type="submit" value="Search">
      <input class="btn btn-info" formaction="{% url 'students:create' %}" type="submit" value="Create">
        </div>
    </form>


 {% include 'includes/students-table.html' %}

{% endblock %}


