{% extends 'base.html' %}
{% block header %}
<h1>Groups list</h1>
{% endblock %}

{% block content %}

    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Name</span>
            </div>
      <input name="name" type="text" class="form-control" placeholder="Enter name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Course</span>
            </div>
      <input name="course" type="text" class="form-control" placeholder="Enter course" aria-label="Username" aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Start date</span>
            </div>
      <input name="start_date" type="text" class="form-control" placeholder="Enter start date" aria-label="Username" aria-describedby="basic-addon1">
    </div>


<!--      <label >Name:</label>-->
<!--      <input type="text" name="name"><br><br>-->

<!--      <label>Course:</label>-->
<!--      <input type="text" name="course"><br><br>-->

<!--      <label>Start date:</label>-->
<!--      <input type="text" name="start_date"><br><br>-->
<div class="mb-3">
      <input class="btn btn-warning" type="submit" value="Search">
      <input class="btn btn-info" formaction="{% url 'groups:create' %}" type="submit" value="Create">
    </div>
    </form>

<!--{{groups|safe}}-->
 {% include 'includes/groups-table.html' %}
{% endblock %}