{% if groups %}
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Start date</th>
        <th>Teacher</th>
        <th>Head</th>
    </tr>
{% for group in groups %}
    <tr>
    <td><a href="{% url 'groups:edit' group.id %}" class="badge badge-secondary">EDIT</a></td>
    <td>{{ group.name }}</td>
    <td>{{ group.start_date }}</td>
    <td>{{ group.teacher}}</td>
    <td>{{ group.head}}</td>
        </tr>

{% endfor %}
</table>

{% include 'paginator.html' %}

{% else %}
<p>Sorry, list is empty </p>
{% endif %}