        {% if messages %}

<blockquote>
    {% for message in messages %}
    <div class="alert alert-primary" role="alert">
    {{ message }}
    {% endfor %}
    </div>

    </blockquote>

{% endif %}