{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
<h1>User is loged out</h1>
{% endblock %}

{% block content %}

    <a class="btn btn-light" href="{% url 'accounts:login' %}">Login</a>
    <a class="btn btn-light" href="{% url 'core:index' %}">Home</a>

{% endblock %}