{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
<h1>Edit teacher</h1>
{% endblock %}
{% block content %}

    <form method="post">
        {% csrf_token %}

        {{form|crispy}}
<div class="mb-3">
      <input class = "btn btn-success" type="submit" value="Save">
      <input class="btn btn-danger" formaction="{% url 'teachers:delete' teacher.id %}" type="submit" value="Delete">
    </div>
    </form>

{% include 'includes/groups-table.html' %}

{% endblock %}