{% extends 'base.html' %}

{% block header %}
<h1>Teachers list</h1>
{% endblock %}
{% block content %}

    <form>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">First name</span>
            </div>
      <input name="first_name" type="text" class="form-control" placeholder="Enter first name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Last name</span>
            </div>
      <input name="last_name" type="text" class="form-control" placeholder="Enter last name" aria-label="Username" aria-describedby="basic-addon1">
    </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
      <input name="email" type="text" class="form-control" placeholder="Enter email" aria-label="Username" aria-describedby="basic-addon1">
    </div>

<div class="mb-3">
      <input class="btn btn-warning" type="submit" value="Search">
      <input class="btn btn-info" formaction="{% url 'teachers:create' %}" type="submit" value="Create">
    </div>
    </form>

{% if teachers %}
<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
    </tr>
{% for teacher in teachers %}
    <tr>
    <td><a href="{% url 'teachers:edit' teacher.id %}" class="badge badge-secondary">EDIT</a></td>
    <td>{{ teacher.first_name }}</td>
    <td>{{ teacher.last_name }}</td>
    <td>{{ teacher.email }}</td>
        </tr>
<!--    <br>-->
{% endfor %}
</table>
{% include 'paginator.html' %}
{% else %}
<p>Sorry, list is empty </p>
{% endif %}
{% endblock %}