{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block header %}
<h1>Create teacher</h1>
{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}

        {{form|crispy}}

      <input class="btn btn-info" type="submit" value="Create">
    </form>

{% endblock %}