<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    {% block title %}
    <title>LMS</title>
    {% endblock %}
</head>




<body>


<nav class="navbar navbar-expand-lg navbar-dark p-3 mb-2 bg-dark text-white">
  <div class="container">
  <a class="navbar-brand" href="{% url 'core:index' %}">LMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  aria-pressed="true">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item ">

          {% url 'students:list' as top_path %}
          {% if top_path == request.path %}
          <a class="nav-link active"  href="{% url 'students:list' %}">Students<span class="sr-only">(current)</span></a>
          {% else%}
          <a class="nav-link "  href="{% url 'students:list' %}">Students<span class="sr-only">(current)</span></a>
          {% endif %}
      </li>

      <li class="nav-item ">
          {% url 'groups:list' as top_path %}
          {% if top_path == request.path %}
         <a class="nav-link active" href="{% url 'groups:list' %}">Groups<span class="sr-only">(current)</span></a>
          {% else%}
          <a class="nav-link" href="{% url 'groups:list' %}">Groups<span class="sr-only">(current)</span></a>
          {% endif %}
        </li>

        <li class="nav-item">
            {% url 'teachers:list' as top_path %}
          {% if top_path == request.path %}
         <a class="nav-link active" href="{% url 'teachers:list' %}">Teachers<span class="sr-only">(current)</span></a>
          {% else%}
          <a class="nav-link" href="{% url 'teachers:list' %}">Teachers<span class="sr-only">(current)</span></a>
          {% endif %}
      </li>


<!--      </li>-->
<!--      <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Dropdown-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--          <a class="dropdown-item" href="#">Action</a>-->
<!--          <a class="dropdown-item" href="#">Another action</a>-->
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
<!--      </li>-->
    </ul>
      <ul class="navbar-nav ">
          {% if user.is_authenticated%}
          <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:profile' %}">Profile ({{user.username}})</a>
        </li>
             <div class="media">
            <div class="img-circle.vert">
    <img class="rounded-circle p-1 mb-0 " width="40" height="40" src="{{ user.profile.image.url }}" >
  </div>
  </div>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">Log out</a>
      </li>

        {% else%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:register' %}">Register</a>
      </li>
              <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
      </li>

              {% endif %}
    </ul>
  </div>
  </div>
</nav>
    <div class="container">
        {% include 'includes/messages.html' %}


        <div class=" border-0 rounded-bottom text-center h-3 p-2 mb-2 bg-secondary text-white shadow-lg p-3 mb-5 rounded">
            {% block header %}
            <h1>
                Welcome to LMS!
            </h1>

        {% endblock %}

    </div>





          {% block content %}

          {% endblock %}



    </div>

</body>
</html>