<!--{% for contact in page_obj %}-->
<!--{% endfor %}-->
<!--{% if is_paginated %}-->
<!--        <nav aria-label="Pagination nav">-->
<!--            <ul class="pagination">-->
<!--                {# Back a page #}-->
<!--                {% if page_obj.has_previous %}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&#10094;</a>-->
<!--                    </li>-->
<!--                {% else %}-->
<!--                    <li class="page-item disabled">-->
<!--                        <span class="page-link">&#10094;</span>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--                {# Page numbers #}-->
<!--                {% for i in paginator.page_range %}-->
<!--                    {% if page_obj.number == i %}-->
<!--                        <li class="page-item active">-->
<!--                            <span class="page-link">{{ i }}-->
<!--                                <span class="sr-only">(current)</span>-->
<!--                            </span>-->
<!--                        </li>-->
<!--                    {% else %}-->
<!--                        <li class="page-item">-->
<!--                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>-->
<!--                        </li>-->
<!--                    {% endif %}-->
<!--                {% endfor %}-->
<!--                {# Next page #}-->
<!--                {% if page_obj.has_next %}-->
<!--                    <li class="page-item">-->
<!--                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&#10095;</a>-->
<!--                    </li>-->
<!--                {% else %}-->
<!--                    <li class="page-item disabled">-->
<!--                        <span class="page-link">&#10095;</span>-->
<!--                    </li>-->
<!--                {% endif %}-->
<!--            </ul>-->
<!--        </nav>-->
<!--    {% endif %}-->

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&{{ request.query_params }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&{{ request.query_params }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
