{% if students %}


<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th></th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Rating</th>
        <th>Name group</th>
    </tr>
    </thead>
{% for student in students %}

    <tr>
    <td><a href="{% url 'students:edit' student.uuid %}" class="badge badge-secondary">EDIT</a></td>
    <td>{{ student.first_name }}</td>
    <td>{{ student.last_name }}</td>
    <td>{{ student.email }}</td>
    <td>{{ student.rating }}</td>
        <td>{{ student.group.name }}</td>

        </tr>

{% endfor %}
</table>

{% include 'paginator.html' %}

{% else %}
<p>Sorry, list is empty </p>
{% endif %}

